<a href="https://colab.research.google.com/github/Douglas-v/python_senai_2024/blob/main/Integrando_SQL_e_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('test.db')
print('Conexão aberta!')

Conexão aberta!

In [ ]:
conn.execute('''
  CREATE TABLE IF NOT EXISTS Empregado(
    matricula integer PRIMARY KEY AUTOINCREMENT,
    nome string,
    CPF integer
  )
''')
conn.commit()
print('Tabela criada com sucesso.')

Tabela criada com sucesso.

In [ ]:
conn.execute("INSERT INTO Empregado VALUES(1,'thiago medeiros',000)")
conn.execute("INSERT INTO Empregado VALUES(2,'miguel medeiros',123)")
conn.execute("INSERT INTO Empregado VALUES(3,'thalita barros',454)")
conn.execute("INSERT INTO Empregado VALUES(4,'maria de fatima',644)")

conn.commit()

In [ ]:
cursor = conn.execute('''
select nome, cpf
from empregado
''')

for row in cursor:
  print(row)

('thiago medeiros', 0)
('miguel medeiros', 123213)
('thalita barros', 4545)
('maria de fatima', 644)

In [ ]:
import pandas as pd

qry = '''
select *from Empregado
'''
df = pd.read_sql_query(qry,conn)
df.head()

   matricula             nome     CPF
0          1  thiago medeiros       0
1          2  miguel medeiros  123213
2          3   thalita barros    4545
3          4  maria de fatima     644

In [ ]:
conn.execute('''

create table if not exists df(
  custID integer primary key autoincrement,
  name string
)'''
)
conn.commit()
print('tabela criada com sucesso.')

tabela criada com sucesso.

In [ ]:
conn.execute("INSERT INTO df VALUES(1,'Doe')")
conn.execute("INSERT INTO df VALUES(2,'Jo')")
conn.execute("INSERT INTO df VALUES(3,'Tod')")

In [ ]:
import pandas as pd

In [ ]:
qry1 = '''
select * from df
LIMIT 1
'''
df = pd.read_sql_query(qry1,conn)
df.head()

   custID name
0       1  Doe

In [ ]:
QRY2 = '''
SELECT*FROM DF
WHERE custID = 2
'''
df = pd.read_sql_query(QRY2,conn)
df.head()

   custID name
0       2   Jo

In [ ]:
qry3 = '''
select*from df
where name like '%D'
'''
df = pd.read_sql_query(qry3,conn)
df.head()

   custID name
0       3  Tod