<a href="https://colab.research.google.com/github/Douglas-v/python_senai_2024/blob/main/Primeiro_Codigo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#codigo para verificar a versão do python
'''
sdfsdfsdf
fdsfsd
fsdfsd
fsdfsdfsd
'''
!python -V

Python 3.10.12

In [ ]:
#operações matematicas

print (4+4) #soma
print (5-3) #subtração
print (5*3) #Multiplicação
print (20/5) #divisão
print (3**3) #potencia
print (17%2) #módulo

8
2
15
4.0
27
1

In [ ]:
print (type(5.69))
print (type('sdfjsd'))
print (type(0))

<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
print (round((10/3.1457871),2))

3.18

In [ ]:
# Declarando variáveis
velocidade=10
tempo=5
print(velocidade)
print(tempo)
distancia=velocidade*tempo
print(distancia)

10
5
50

In [ ]:
x=10
print(x)
print(type(x))

x='Hello'
print(x)
print(type(x))

10
<class 'int'>
Hello
<class 'str'>

In [ ]:
cidade1, cidade2, cidade3 = 'safsa', 'gvgfhd','sdfssdsds'
print(cidade1,cidade2,cidade3)

safsa gvgfhd sdfssdsds

In [ ]:
velocidade+(4*100)-distancia
primeiro_nome='Douglas'
segundo_nome='Vasconcelos'
nome_completo=primeiro_nome+' '+segundo_nome
print(nome_completo)

Douglas Vasconcelos

In [ ]:
#Declarando string
dia_da_semana='segunda'
mes='Abril'
print(dia_da_semana,mes)
print(len(dia_da_semana))
print(len(mes))

#coleta parcial de informações da variável
print(dia_da_semana[0:4])
print(dia_da_semana[0])
print(dia_da_semana[0:-2])
#manipulação de caixa
print(dia_da_semana.upper())
print(dia_da_semana.capitalize())

#manipulação de string (substituir)
frase='segunDa é tristeza'
print(frase.lower().replace('segun','bala').replace('tristeza','top'))
print(frase)

#contar o número de letras
print(frase.count('a'))

#quebrar texto em lista de strings
frase_split=frase.split(' ')
print(frase_split)

segunda Abril
7
5
segu
s
segun
SEGUNDA
Segunda
balada é top
segunDa é tristeza
2
['segunDa', 'é', 'tristeza']

In [ ]:
#Len para String conta caracteres e para lista conta objetos
len(frase_split)

#removendo espaços do começo e do fim das frases
texto='        qualquer coisa sdfsd qwwq qwqe dssdfsa       '
texto_strip=texto.strip(' ')
print(texto_strip)

#quebra de linha

print('o texxto começa aqui...')
print('\n')
print('\n')
print('\n')
print('pulei 3 linhas')

qualquer coisa sdfsd qwwq qwqe dssdfsa
o texxto começa aqui...






pulei 3 linhas

In [ ]:
nome='Douglas'
idade=27
futuro=idade+10
#primeira forma de printar texto com variaveis embutidas
print('Olá '+nome+', '+'você tem '+str(idade)+' anos e daqui 1 década terá '+str(futuro)+' anos.')
#segunda forma de printar texto com variaveis embutidas
print('Olá %s, você tem %d anos e daqui 1 década terá %d anos.' % (nome, idade, futuro))
#terceira forma de printar texto com variaveis embutidas
print('Olá {}, você tem {} anos e daqui 1 década terá {} anos.'.format (nome, idade, futuro))
#quarta forma de printar texto com variaveis embutidas
print(f'Olá {nome}, você tem {idade} anos e daqui 1 década terá {futuro} anos.')
#quinta forma de printar texto com variaveis embutidas
print('Olá', nome, ', você tem', idade, 'anos e daqui 1 década terá', futuro,'anos.', sep=' ',end='\n')

Olá Douglas, você tem 27 anos e daqui 1 década terá 37 anos.
Olá Douglas, você tem 27 anos e daqui 1 década terá 37 anos.
Olá Douglas, você tem 27 anos e daqui 1 década terá 37 anos.
Olá Douglas, você tem 27 anos e daqui 1 década terá 37 anos.
Olá Douglas , você tem 27 anos e daqui 1 década terá 37 anos.

In [ ]:
nome=input("Digite seu nome:")
idade=input("Digite sua idade:")
print(f'Olá {nome}, você tem {idade} anos.')

Digite seu nome:Douglas
Digite sua idade:27
Olá Douglas, você tem 27 anos.

In [ ]:
#Faça um input para uma frase e retorne o último caracter.
frase=input('Digite uma frase:')
print('o último caracter da sua frase é: '+frase[-1])

Digite uma frase:senai valinhos
o último caracter da sua frase é: s

In [ ]:
#Faça um código que solicite uma frase, variável chamada "nova_palavra" e "antiga_palavra". realize a substituição e apresente o resultudo
frase=input('Digite uma frase: ')
nova_palavra=input('Digite uma palavra para substituição: ')
antiga_palavra=input('Digite qual palavra deve ser substituida: ')
print(frase.replace(antiga_palavra, nova_palavra))

Digite uma frase: eu ggg ttt ojdsansda
Digite uma palavra para substituição: eee
Digite qual palavra deve ser substituida: ggg
20

In [ ]:
#Faça um código que solicite um número e o armazene na variavel A. Em seguida, faça outra solicitação e armazeno o número na variável B. Realize a soma dos dois e apresente o resultado na tela
print('Operação de soma')
A=float(input ('Digite um número: '))
B=float(input ('Digite outro número: '))
resultado= A+B
print(resultado)

Operação de soma
Digite um número: 10
Digite outro número: 10
20.0

Prática 1:
Escreva um programa em Python que solicite o nome de um vendedor, seu salário fixo e
o total de vendas efetuadas por ele no mês (em dinheiro). Considerando que este
vendedor recebe uma comissão de 15% sobre suas vendas, o programa deve calcular e
informar o total a receber no final do mês, com duas casas decimais.

Prática 2:
Escreva um programa em Python para calcular o comprimento de uma string.

Prática 3:
Dada a string "Bom dia, Pythonista!", escreva um código para imprimir a string em
letras minúsculas.

Prática 4:
Dada a string `" Python é uma linguagem de programação poderosa. "`, escreva um
código para realizar o seguinte tratamento de texto:
1. Remova os espaços em branco no início e no final da string.
2. Converta toda a string para minúsculas.
3. Substitua a palavra "poderosa" por "versátil".
Imprima o resultado final após o tratamento.

In [ ]:
#Prática 1:
nome = input('Digite o nome do vendedor: ')
salario = float (input('Digite o salário fixo: '))
vendas = float (input('Digite o total de vendas no mês (R$): '))
total = print('O total a receber do funcionário '+nome+' é de R$ '+str(round(salario+(vendas*1.15),2))+'.')

Digite o nome do vendedor: sdsa
Digite o salário fixo: 10.365
Digite o total de vendas no mês (R$): 125
O total a receber do funcionário sdsa é de R$ 154.12.

In [ ]:
#Prática 2:
string=input('Digite uma STR: ')
print(len(string))

Digite uma STR: dsadsa
6

In [ ]:
#Prática 3:
string = 'Bom dia, Pythonista!'
print (string.lower())

bom dia, pythonista!

In [ ]:
#Prática 4:
texto = ' Python é uma linguagem de programação poderosa. '
print(texto.strip()) #1
print(texto.strip().lower()) #2
print(texto.strip().replace('poderosa','versátil')) #3

Python é uma linguagem de programação poderosa.
python é uma linguagem de programação poderosa.
Python é uma linguagem de programação versátil.

DESAFIO: Escreva um programa que leia três valores em ponto flutuante de dupla precisão:
A, B e C. Em seguida, calcule e mostre:

a) a área do triângulo retângulo que tem A por base e C por altura.

b) a área do círculo de raio C. (pi = 3.14159)

c) a área do trapézio que tem A e B por bases e C por altura.

d) a área do quadrado que tem lado B.

e) a área do retângulo que tem lados A e B.

In [ ]:
#a
a=float(input('Digite o valor da base do triângulo retangulo: '))
c=float(input('Digite o valor da altura do triângulo retangulo: '))
print('A área deste triângulo é '+str((a*c)/2)+'mm².')

Digite o valor da base do triângulo retangulo: 3
Digite o valor da altura do triângulo retangulo: 6
A área deste triângulo é 9.0mm².

In [ ]:
#b
pi=3.14159
c=float(input('Digite o raio do circulo: '))
print('A área do circulo é de '+str(round((pi*(c**2)),4))+'mm²3.')

Digite o raio do circulo: 3
A área do circulo é de 28.2743mm²3.

In [ ]:
#c
a=float(input('Digite o tamanho da base inferior do trapézio: '))
b=float(input('Digite o tamanho da base superior do trapézio: '))
c=float(input('Digite a altura do trapézio: '))
print('A área do trapézio é '+str(((a+b)*c)/2)+'mm².')

Digite o tamanho da base inferior do trapézio: 3
Digite o tamanho da base superior do trapézio: 3
Digite a altura do trapézio: 2
A área do trapézio é 6.0mm².

In [ ]:
#d
b=float(input("digite o lado do quadrado: "))
print('A área do quadrado é ',(b*b),'mm².')

digite o lado do quadrado: 3
A área do quadrado é  9.0 mm².

In [ ]:
#e
a=float(input('Digite o valor da base do retângulo: '))
b=float(input('Digite o valor da altura do retângulo: '))
print('A área do retêngulo é '+str(a*b)+'mm².')

Digite o valor da base do retângulo: 3
Digite o valor da altura do retângulo: 6
A área do retêngulo é 18.0mm².

In [ ]:
#Trabalhando com listas

frutas = ['banana','maça','manga']
print(frutas)
print(type(frutas))

print(frutas[2])

['banana', 'maça', 'manga']
<class 'list'>
manga

In [ ]:
#listas aceitam multiplos tipos de variáveis
a_lista = ['banana', None, 'uva', 10, 3.1415, 4==4]
print(a_lista)

#listas permitem guardar outras listas dentro
a_list=[23, None, 3.1415, frutas, 3<=5]
print(a_list)
print(a_list[3][0])

['banana', None, 'uva', 10, 3.1415, True]
[23, None, 3.1415, ['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi'], True]
banana

In [ ]:
#criando matriz 3x3
matriz = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
    ]

print(matriz)

#acessando elementos da matriz
print(matriz[0][0])
print(matriz[1][2])

#modificando elementos na matriz
matriz[0][0] = 10
matriz[1][2] = 'a'

print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1
6
[[10, 2, 3], [4, 5, 'a'], [7, 8, 9]]

In [ ]:
#Declarar lista vazia
lista_vazia = []

print(lista_vazia)
print(len(lista_vazia))
print(len(frutas))

[]
0
3

In [ ]:
#Vizualizando parcialmente uma lista
print(a_lista)
print('\n')
print(a_lista[:2])
print('\n')
print(a_lista[2:4])

['banana', None, 'uva', 10, 3.1415, True]


['banana', None]


['uva', 10]

In [ ]:
#inserindo itens na lista com posição pré-definida
print(len(frutas))

frutas.insert(7,'jaca')
print(frutas)

6
['melão', 'banana', 'melão', 'maça', 'melão', 'manga', 'jaca']

In [ ]:
#Inserindo itens no final da lista
frutas.append('kiwi')
print(frutas)

['melão', 'banana', 'melão', 'maça', 'melão', 'manga', 'jaca', 'kiwi']

In [ ]:
#Lista adicional
frutas_adicionais = ['caju', 'morango', 'abacaxi']

#estendendo a lista com uma lista adicional
frutas.extend(frutas_adicionais)

print(frutas)

['melão', 'banana', 'melão', 'maça', 'melão', 'manga', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi']

In [ ]:
#removendo itens da lista um a um
frutas.remove('melão')
print(frutas)

['banana', 'maça', 'melão', 'manga', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi']

In [ ]:
#remover com indicie e armazenar numa variável
print(frutas)
fruta_removida = frutas.pop(3) #Se deixar 'zero' ele sempre retirará o último.
print(frutas)
print(fruta_removida)

['banana', 'maça', 'melão', 'manga', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi']
['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi']
manga

In [ ]:
#Concatenando listas
mais_frutas = frutas + ['morango'] + ['goiaba', 'tangerina']
print(mais_frutas)

['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']

In [ ]:
#criar uma cópia de lista para testes
mais_frutas_copia = mais_frutas.copy()
print(mais_frutas_copia)

#trabalhando na cópia e comparando com a original
mais_frutas_copia.remove('goiaba')
mais_frutas_copia.pop()

print(mais_frutas_copia)
print(mais_frutas)

['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']
['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi', 'morango']
['banana', 'maça', 'melão', 'jaca', 'kiwi', 'caju', 'morango', 'abacaxi', 'morango', 'goiaba', 'tangerina']

In [ ]:
#testando: Crie 2 listas com pelo menos 3 cidades brasileiras cada uma localizadas na região norte e sul, respectivamente
cidades_norte = ['Rio Branco', 'Xapuri', 'Manaus', 'Parintins', 'Boa Vista', 'Uiramutã', 'Macapá']
cidades_sul = ['Curitiba', 'Florianópolis', 'Porto Alegre', 'Joinville', 'Londrina', 'Caxias do Sul', 'Maringá', 'Blumenau']
cidades_norte_sul = cidades_norte + cidades_sul

print(cidades_norte)
print(cidades_sul)
print(cidades_norte_sul)

['Rio Branco', 'Xapuri', 'Manaus', 'Parintins', 'Boa Vista', 'Uiramutã', 'Macapá']
['Curitiba', 'Florianópolis', 'Porto Alegre', 'Joinville', 'Londrina', 'Caxias do Sul', 'Maringá', 'Blumenau']
['Rio Branco', 'Xapuri', 'Manaus', 'Parintins', 'Boa Vista', 'Uiramutã', 'Macapá', 'Curitiba', 'Florianópolis', 'Porto Alegre', 'Joinville', 'Londrina', 'Caxias do Sul', 'Maringá', 'Blumenau']

In [ ]:
#Transformando uma lista redundante em lista de objetos exclusivos
numeros = ['10','20','30','40','20','50','60','40']
numeros_exclusivos = set(numeros)
print(numeros)
print(numeros_exclusivos)

['10', '20', '30', '40', '20', '50', '60', '40']
{'20', '50', '10', '40', '30', '60'}

In [ ]:
#convertendo uma lista em string
lista = ['p','y','t','h','o','n']
string = ''.join(lista)
print(string)

python

In [ ]:
#Exercicios Aula 4
print('1:')
numeros = [1, 3, 5, 7, 9]
a = numeros[0]
b = numeros[1]
c = numeros[2]
d = numeros[3]
e = numeros[4]
produto=a*b*c*d*e
print(produto)


print('2:')
cores = ["vermelho", "azul", "verde", "amarelo", "roxo"]
cores.remove('azul')
print(cores)
cores1 = ["vermelho", "azul", "verde", "amarelo", "roxo"]
cor_removida = cores1.pop(1)
print(cores)

print('3:')
frutas = ["maçã", "banana", "laranja", "morango"]
frutas.append('uva')
print(frutas)

print('4:')
nomes = ["Alice", "Bob", "Charlie", "David"]
'Alice' in nomes

1:
945
2:
['vermelho', 'verde', 'amarelo', 'roxo']
['vermelho', 'verde', 'amarelo', 'roxo']
3:
['maçã', 'banana', 'laranja', 'morango', 'uva']
4:

True

In [ ]:
#Declarando dicionário
person1 = {
    'nome' : 'Douglas',
    'sexo' : 'Masculino',
    'idade' : 30,
    'casado' : True
}
print(person1)
print(type(person1))
print(' ')
#declarando dicionário de outra forma
person2 = dict(nome='Maria', sexo='Feminino', idade=28, casado=True)
print(person2)
print(type(person2))

#buscando conteudo por chave
print(person2['nome'])

#Dicionário vazio, depois colocando conteudo
dict1 = {}
print(dict1)
dict1['chave1']="não está mais vazio!"
print(dict1)

#Dicionário com lista
dict2 = {'Pessoa1':['Willian',30,'Professor'],'Pessoa2':['Julia',50,'Medica']}
print(dict2)
print(dict2['Pessoa2'][1])

{'nome': 'Douglas', 'sexo': 'Masculino', 'idade': 30, 'casado': True}
<class 'dict'>

{'nome': 'Maria', 'sexo': 'Feminino', 'idade': 28, 'casado': True}
<class 'dict'>
Maria
{}
{'chave1': 'não está mais vazio!'}
{'Pessoa1': ['Willian', 30, 'Professor'], 'Pessoa2': ['Julia', 50, 'Medica']}
50

In [ ]:
#Dicionário aninhado
pessoa = {
    'nome':'João',
    'idade': 30,
    'endereço':{
        'rua':'Rua assdadsa',
        'cidade': 'Cidade a',
        'estado': 'SP'}
    }

#Acessando valores no dicionário aninhado
print('Nome: ', pessoa['nome'])
print('Idade: ', pessoa['idade'])
print('Endereço: ', pessoa['endereço']['rua'], pessoa['endereço']['cidade'], pessoa['endereço']['estado'])

#acessando por função GET
print(pessoa.get('nome'))

Nome:  João
Idade:  30
Endereço:  Rua assdadsa Cidade a SP
João

In [ ]:
#Atualização dinâmica - alterando informações
person1['casado'] = False

#Atualização dinâmica - adicionando novo campo e chave
person1['nacionalidade'] = 'Brasileiro'

print(person1)

#removendo chaves especificas do meu dicionário
person1.pop('nacionalidade')
print(person1)

#visualizando todas as chaves de um dicionário
print(person1.keys())

#visualizando os valores das chaves
print(person1.values())

#visualizando tudo
print(person1.items())

{'nome': 'Douglas', 'sexo': 'Masculino', 'idade': 30, 'casado': False, 'nacionalidade': 'Brasileiro'}
{'nome': 'Douglas', 'sexo': 'Masculino', 'idade': 30, 'casado': False}
dict_keys(['nome', 'sexo', 'idade', 'casado'])
dict_values(['Douglas', 'Masculino', 30, False])
dict_items([('nome', 'Douglas'), ('sexo', 'Masculino'), ('idade', 30), ('casado', False)])

In [ ]:
#limpando valores do dicionário (clea)
pessoaex = {
    'nome':'João',
    'idade': 30,
    'endereço':{
        'rua':'Rua assdadsa',
        'cidade': 'Cidade a',
        'estado': 'SP'}
    }

#print(pessoaex.clear())

#alternativa para pop - apagando chave específica
del pessoaex['endereço']
print(pessoaex)


#Atualizando um dicionário com base em outro
dicionario1 = {'a':1,'b':2}

#adicionando
dicionario2 = {'b':3,'c':4}
dicionario1.update(dicionario2)

print('Dicionário após update:',dicionario1)

{'nome': 'João', 'idade': 30}
Dicionário após update: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
#praticando
#acessar o dicionário abaixo e mostrar todos os itens:
informacoes_pessoa = {'nome':'Maria','idade':28,'cidade':'São paulo'}
print(informacoes_pessoa.items())

#Crie um dicionário de estoque e atualize as quantidades de alguns itens
estoque = {'maças':10,'bananas':15,'laranjas':8}
print('O estoque original é: ',estoque)

math = input('Qual operação deseja fazer?')
macas = input('Digite a quantidade atualizada de maças: ')
bananas = input('Digite a quantidade atualizada de bananas: ')
laranjas = input('Digite a quantidade atualizada de laranjas: ')

if math=="soma":
    estoque['maças']+=float(macas)
    estoque['bananas']+=float(bananas)
    estoque['laranjas']+=float(laranjas)
    print('A quantidade atualizada do estoque é: ',estoque)

if math=="subtração":
    estoque['maças']-=float(macas)
    estoque['bananas']-=float(bananas)
    estoque['laranjas']-=float(laranjas)
    print('A quantidade atualizada do estoque é: ',estoque)

if math=="multiplicação":
    estoque['maças']*=float(macas)
    estoque['bananas']*=float(bananas)
    estoque['laranjas']*=float(laranjas)
    print('A quantidade atualizada do estoque é: ',estoque)

if math=="divisão":
    estoque['maças']/=float(macas)
    estoque['bananas']/=float(bananas)
    estoque['laranjas']/=float(laranjas)
    print('A quantidade atualizada do estoque é: ',estoque)

if math=="substituição":
    atualizacao = {'maças':macas,'bananas':bananas,'laranjas':laranjas}
    estoque.update(atualizacao)
    print('A quantidade atualizada do estoque é: ',estoque)

dict_items([('nome', 'Maria'), ('idade', 28), ('cidade', 'São paulo')])
O estoque original é:  {'maças': 10, 'bananas': 15, 'laranjas': 8}
Qual operação deseja fazer?divisão
Digite a quantidade atualizada de maças: 2
Digite a quantidade atualizada de bananas: 2
Digite a quantidade atualizada de laranjas: 2
A quantidade atualizada do estoque é:  {'maças': 5.0, 'bananas': 7.5, 'laranjas': 4.0}

In [ ]:
#Atividade_Aula_5:
#1 - Considere o seguinte dicionário em Python:

dicionario = {'idade': 25, 'nome': 'Ana'}

#Crie um programa que realiza a seguinte operação:
#Atualize o valor associado à chave 'idade' para 26.
#Ao executar o programa, o dicionário modificado deve ser impresso na tela.

dicionario['idade']=26
print("Atividade 1: ",dicionario)

print('----------------------------------------------------')


#2 - Dado o seguinte dicionário em Python:
dicionario2 = {'a': 1, 'b': 2, 'c': 3}

#Desenvolva um programa que realize a seguinte operação:
#Remova a chave 'b' do dicionário.
dicionario2.pop('b')
print("Atividade 2: ",dicionario2)

Atividade 1:  {'idade': 26, 'nome': 'Ana'}
----------------------------------------------------
Atividade 2:  {'a': 1, 'c': 3}

In [ ]:
#Tupla

frutas = ('banana','uva','laranja')
print(frutas)
print(type(frutas))
len(frutas)
print(frutas[0])

('banana', 'uva', 'laranja')
<class 'tuple'>
banana

In [ ]:
#convertendo Tupla para lista e vice versa

minha_tupla = (1,2,3)
lista_resultante = list(minha_tupla)
print(lista_resultante)
print(type(lista_resultante))

[1, 2, 3]
<class 'list'>

In [ ]:
#Prática criar uma tupla "coordenadas" com latitude e longitude de um ponto especifico e exiba

coordenadas = ('-22.9712', '-46.9964 22° 58 16 Sul')
print(coordenadas)


#tupla com diferentes tipos de dados

tupla = (3.14,'asdasd',10, True)
print(tupla)

('-22.9712', '-46.9964 22° 58 16 Sul')
(3.14, 'asdasd', 10, True)

In [ ]:
#crie uma tupla fruta e acrescente uma item, sem apaga-la

fruta = ('maça','abacaxi','caju')
fruta_convert = list(fruta)
fruta_convert.append('tomate')
fruta_retorno = tuple(fruta_convert)
print(fruta_retorno)
print(type(fruta_retorno))

('maça', 'abacaxi', 'caju', 'tomate')
<class 'tuple'>

In [ ]:
#EXERCICIOS AULA_6

#1)Implemente um código em Python que recebe as notas de um aluno em três disciplinas
#e armazena essas notas em uma tupla. Em seguida, calcule e imprima a média das notas.

print('Atividade 1:')

aluno_1 = float(input("digite a nota do aluno 1: "))
aluno_2 = float(input("digite a nota do aluno 2: "))
aluno_3 = float(input("digite a nota do aluno 3: "))

notas = (aluno_1, aluno_2, aluno_3)

media = sum(notas)/len(notas)

print('A média da nota dos alunos é ',media)


#2)Solicita ao usuário que insira o login e a senha,crie uma tupla (usuario(login,senha))
#com login e senha e exibe as informações armazenadas. Na última linha tente alterar
#usuario[1] = '123645', Qual é o resultado esperado e por que isso pode causar um
#problema?

print('Atividade 2:')

login = input('digite o login: ')
senha = input('digite a senha')
usuario = (login, senha)
print(usuario)

#usuario[1] = "12345"

#o resultado esperado é erro

Atividade 1:
digite a nota do aluno 1: 3
digite a nota do aluno 2: 3
digite a nota do aluno 3: 10
A média da nota dos alunos é  5.333333333333333
Atividade 2:

In [ ]:
#comparações

# == comparação
# != diferente

# operadores lógicos
# and
# or

In [ ]:
#IF Else - comando condicional

idade = input('Digite sua idade: ')

if int(idade) >= 18:
  print("Vc é maior!")
else:
  print("Vc é menor!")

Digite sua idade: 10
Vc é menor!

In [ ]:
#Faça um código que colete duas variaveis A e B, caso A seja maior que B print "A é maior que B"

A = input("Digite o valor de A: ")
B = input("Digite o valor de B: ")

if int(A) > int(B):
  print("A é maior que B.")
elif int(A) == int(B):
  print("A é igual a B.")
else:
  print("B é maior que A.")

Digite o valor de A: 10
Digite o valor de B: 10
A é igual a B.

In [ ]:
#Faça um código que colete duas variaveis A e B, caso A seja maior que B print "A é maior que B", caso contrário "B é maior que A". Também verifique se A é duas vezes maior que B, se sim, print "A é duas vezes maior que B"

A = float(input("Digite o valor de A: "))
B = float(input("Digite o valor de B: "))

if A >= 2*B:
  print("A é duas vezes maior que B")
elif A > B:
  print("A é maior que B.")
elif A == B:
  print("A é igual a B.")
else:
  print("B é maior que A.")

Digite o valor de A: 20
Digite o valor de B: 15
A é maior que B.

In [ ]:
#Faça um codigo para verificar se o número é par ou impar?
A = int(input("Digite um valor: "))
if A%2 == 0: #% - operador que verifica resto da divisão pelo númeor que segue o percent
  print("Valor é par!")

else:
  print("Valor é impar!")

Digite um valor: 7
Valor é impar!

In [ ]:
#faça um codigo que classifique em conceitos as notas dos alunos: A(nota>=9), B(7<=nota<9), C(5<=nota>7), D(nota<5)

nota = float(input("Digite sua nota: "))

if nota >=9 and nota <=10:
  print("Classificação A")

elif nota >= 7 and nota <9:
  print('Classificação B')

elif nota >= 5 and nota<7:
  print('Classificação C')

elif nota < 5 and nota >=0:
  print('Classificação D')

else:
  print('Nota inválida, comece de novo.')

Digite sua nota: -5
Nota inválida, comece de novo.

In [ ]:
#Solicite um número ao usuário e imprima se é positivo, negativo ou zero

a = float(input("Digite um número qualquer: "))

if a > 0:
  print('Número positivo.')

elif a == 0:
  print("Número igual a zero.")

elif a < 0:
  print("número negativo.")

Digite um número qualquer: 6
Número positivo.

In [ ]:
#Praticando: solicite a idade do usuario para verificar a categoria da idade, considere: Criança/Adolescente (menor que 18), Adulto (maior ou igual a 18 e menor que 65), Idoso (igual ou mair que 65). imprima a categoria.

idade = int(input('Insira uma idade para verificar a categoria pertencente: '))

if idade < 18:
  print('Criança/Adolescente')

elif 18 <= idade <65:
  print('Adulto')

else:
  print("idoso")

Insira uma idade para verificar a categoria pertencente: 19
Adulto

In [ ]:
#Calculando fatorial usando WHILE
%%time
n = int(input("Informe um número para calcular o fatorial: "))
resultado = 1
i = 1

while i<= n:
  resultado = resultado*i
  i=i+1

print('O fatorial de',n, 'é:',resultado)

Informe um número para calcular o fatorial: 5
O fatorial de 5 é: 120
CPU times: user 30.4 ms, sys: 5.75 ms, total: 36.2 ms
Wall time: 1.72 s

In [ ]:
#Loop while para imprimir de 1 a 5 em ordem crescente

n = int(input('digite o numero inicial: '))
c = 1

while c<=5:
  print(n + c)
  c = c+1

digite o numero inicial: 15
16
17
18
19
20

In [ ]:
#Solicite um numero inteiro e print os impares de 1 até o número

n = int(input('Digite o numero inteiro: '))
soma_impares = 0
c = 1

while c <= n:
  if c%2 != 0:
    soma_impares += c
  c += 1

print('A soma dos número impares até',n,'é',soma_impares)

digite o numero inteiro: 10
A soma dos número impares até 10 é 25

In [ ]:
#solicite um numero e imprima a tabuada de 1 a 10

n = int(input('Digite o numero inteiro: '))
c = 1
print('Tabuada de',n,'é:')
while c<=10:
  print(n,'x',c,'=',(n*c))
  c  += 1

Digite o numero inteiro: 13
Tabuada de 13 é:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
#Break
%%time
i = 1
result = 1
while i <=100:
  result *= i
  if i==42:
    print('Você chegou no 42! Pare a execução.')
    break
  i+=1

print('i:',i)
print('Resultado:',result)

Você chegou no 42! Pare a execução.
i: 42
Resultado: 1405006117752879898543142606244511569936384000000000
CPU times: user 2.63 ms, sys: 0 ns, total: 2.63 ms
Wall time: 2.88 ms

In [ ]:
#Continue

i = 1
result = 1

while i < 20:
  i+=1
  if i%2==0:
    print('Pular',i)
    continue
  print('Multiplica com',i)
  result *=i

print('i:',i)
print('resultado:',result)

Pular 2
Multiplica com 3
Pular 4
Multiplica com 5
Pular 6
Multiplica com 7
Pular 8
Multiplica com 9
Pular 10
Multiplica com 11
Pular 12
Multiplica com 13
Pular 14
Multiplica com 15
Pular 16
Multiplica com 17
Pular 18
Multiplica com 19
Pular 20
i: 20
resultado: 654729075

In [ ]:
#crie um jogo para divinhar um numero de 1 a 5, utilize loop e break para encerrar o jogo quando acertar

import random
numero_aleatorio = random.randint(1,5)

while True:
  n = int(input('Digite um número de 1 a 5: '))
  if n == numero_aleatorio:
    print('Parabéns, você acertou!')
    break
  else:
    print('Tente novamente.')

Digite um número de 1 a 5: 5
Tente novamente.
Digite um número de 1 a 5: 4
Parabéns, você acertou!

In [ ]:
#crie um programa que conta de 1 a 10, mas pula 3 e 7.utilize continue para implementar o pulo

c=1

while c <= 10:
  if c == 3 or c == 7:
    c += 1
    continue
  print(c)
  c+=1

1
2
4
5
6
8
9
10

In [ ]:
#FOR

dias = ['Segunda','Terça','Quarta','Quinta','Sexta']

for dia in dias:
  print(dia)

Segunda
Terça
Quarta
Quinta
Sexta

In [ ]:
#looping sobre a String

for char in "Segunda":
  print(char)

S
e
g
u
n
d
a

In [ ]:
#looping sobre tupla

for fruta in ('Maça', 'Banana', 'Uva'):
  print('A fruta é:',fruta)

A fruta é: Maça
A fruta é: Banana
A fruta é: Uva

In [ ]:
#looping no dicionário
person1 = {
    'nome' : 'Douglas',
    'sexo' : 'Masculino',
    'idade' : 30,
    'casado' : True
}

for key in person1:
  print('Key:',key,', Value:',person1[key])

Key: nome , Value: Douglas
Key: sexo , Value: Masculino
Key: idade , Value: 30
Key: casado , Value: True

In [ ]:
#Range

for i in range(7):
  print(i)
print('\n')
for i in range(3,10):
  print(i)
print('\n')
for i in range(3,14,4):
  print(i)

0
1
2
3
4
5
6


3
4
5
6
7
8
9


3
7
11

In [ ]:
a_list = ['segunda','terça','quarta','quinta','sexta']
for i in range(len(a_list)):
  print('O valor na posição',i,'é',a_list[i])

O valor na posição 0 é segunda
O valor na posição 1 é terça
O valor na posição 2 é quarta
O valor na posição 3 é quinta
O valor na posição 4 é sexta

In [ ]:
persons = [{'nome':'willian','sexo':'Masculino'},{'nome':'Julia','sexo':'feminino'}]

for person in persons:
  for key in person:
    print(key,':',person[key])
  print('')

nome : willian
sexo : Masculino

nome : Julia
sexo : feminino

In [ ]:
#utilize o loop for para imprimir numeros de 1 a 5 em ordem crescente

for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#solicite um numero e imprima sua tabuada usando for

n = int(input('Digite um número para ver a tabuda: '))

for i in range(1,11):
  print(n,'x',i,'=',(i*n))

Digite um número para ver a tabuda: 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

In [ ]:
#percora os valores de 0 a 100 e imprima apenas os pares

for i in range(101):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#escreva os caracteres de uma entrada string em linhas separadas

e = input('Digite uma palavra: ')

for letra in e:
  print(letra)

Digite uma palavra: python
p
y
t
h
o
n

In [ ]:
#definindo uma função
def saudacao(nome):
  print('Olá,',nome,'!')

In [ ]:
#chamando a função
saudacao('Alice')

Olá, Alice !

In [ ]:
def print_dia(hoje):
  print('Hoje é:',hoje)

In [ ]:
h=input('Digite o dia da semana:')
print_dia(h)

Digite o dia da semana:sexta
Hoje é: sexta

In [ ]:
#passar varios parametros
def soma(a,b,c):
  print('A soma total é:',a+b+c)

In [ ]:
soma(4,6,4)

A soma total é: 14

In [ ]:
def soma(a,b,c):
  return a+b+c

In [ ]:
print(soma(4,6,4))

14

In [ ]:
def soma_multiplicacao(a,b,c):
  return (a+b+c),(a*b*c)

In [ ]:
soma,multiplicacao = soma_multiplicacao(1,1,1)
print('A soma é',soma,'e a multiplicação é',multiplicacao)

A soma é 3 e a multiplicação é 1

In [ ]:
#faça um programa que faço o tratamento de texto, o final deve ser: minusculo, sem espaço no inicio e fim, não conter @

def organizar_texto(texto):
  return texto.strip().lower().replace('@','')

In [ ]:
texto = input("digite uma frase para organizar: ")
print(organizar_texto(texto))

digite uma frase para organizar:                     O Python é BacanA@
o python é bacana

In [ ]:
#Testando função lambda - ainda sem aplica-la

def quadrado(x):
  return x**2

print(quadrado(5))

25

In [ ]:
#Testando função lambda

quadrado_lambda = lambda x: x**2
print(quadrado(5))

25

In [ ]:
def soma(x,y):
  return x+y

print(soma(3,4))

7

In [ ]:
soma_lambda = lambda x,y: x+y
print(soma_lambda(3,6))

9

In [ ]:
#MAP
numeros = [1,2,3,4,5]
ao_quadrado = list(map(quadrado_lambda,numeros))
print(ao_quadrado)

[1, 4, 9, 16, 25]

In [ ]:
#filter
pares = list(filter(lambda x:x%2 == 0,numeros))
print(pares)

[2, 4]

In [ ]:
from math import sqrt
resultado = sqrt(25)
print(resultado)

5.0